<!DOCTYPE html>
<!--
  Spectral by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)

  Modified for personal use by Grayson Sinclair.
-->
<html>
  <head>
    <title>PayMates<%# TODO: make the title suffixable %></title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# TODO: move the assets into the rails pipeline %>
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
  </head>
  <% if @bodyclass.nil? %>
  <body>
  <% else %>
  <body class="<%= @bodyclass %>">
  <% end %>
    <!-- Page Wrapper -->
      <div id="page-wrapper">

	    <!-- Header -->
          <header id="header" class="alt">
            <h1><a href="index.html">Spectral</a></h1>
            <nav id="nav">
              <ul>
                <li class="special">
                  <a href="#menu" class="menuToggle"><span>Menu</span></a>
                  <div id="menu">
                    <ul>
                      <li><a href="/">Home</a></li>
					  <%# TODO: route the login buttons to the appropriate pages dynamically %>
                      <li><a href="#">Sign Up</a></li>
                      <li><a href="#">Log In</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </nav>
          </header>

		<!-- Flash Messages Container -->
		<%# TODO: customize the flash messages %>
		<% flash.each do |name, mesg| -%>
		  <%= content_tag :div, class: ["flash", "box", "align-center"] do %>
		    <%= content_tag :h2, name, class: "major" %>
			<%= content_tag :p, mesg %>
		  <% end -%>
		<% end -%>

        <%= yield %>

        <!-- Footer -->
          <footer id="footer">
            <ul class="icons">
              <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
              <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
              <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
              <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
              <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
            </ul>
            <ul class="copyright">
              <li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>
          </footer>
      </div>

    <%# TODO: move this scripts into the asset pipeline, or find gems to replace them. %>
    <!-- Scripts -->
      <script src="assets/js/jquery.min.js"></script>
      <script src="assets/js/jquery.scrollex.min.js"></script>
      <script src="assets/js/jquery.scrolly.min.js"></script>
      <script src="assets/js/skel.min.js"></script>
      <script src="assets/js/util.js"></script>
      <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
      <script src="assets/js/main.js"></script>
  </body>
</html>
